<% @page_title = "MEMBER LISTS" %>
<h1><%= @page_title %></h1>

<% if @members.present? %>
<table class="list">
  <tr>
    <th>NUMBER</th>
    <th>USER</th>
    <th>NAME</th>
    <th>COMMANDS</th>
  </tr>

  <% @members.each do |member| %>

  <tr>
    <td style="text-align: right"><%= member.number %></td>
    <td><%= member.name %></td>
    <td><%= member.full_name %></td>
    <td></td>
  </tr>

</table>
<% else %>
<p>Not Found.</p>
<% end %>


